@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lora', serif;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
  }
  
  button, nav {
    font-family: 'Poppins', sans-serif;
  }
  